
src/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/.qmake.stash

src/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/main.o

src/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/Makefile

src/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/poll_server.o

src/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/poll-echo-server

src/poll-echo-server/poll-echo-server.pro.user

src/poll-echo-server.pro.user
