src/build-client-32bit-Release

src/build-client-32bit-Debug

src/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/.qmake.stash

src/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/main.o

src/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/Makefile

src/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/poll_server.o

src/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/poll-echo-server

src/poll-echo-server/poll-echo-server.pro.user

src/poll-echo-server.pro.user

src/poll-echo-server/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/.qmake.stash

src/poll-echo-server/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/main.o

src/poll-echo-server/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/Makefile

src/poll-echo-server/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/poll_server.o

src/poll-echo-server/build-poll-echo-server-Desktop_Qt_5_10_0_clang_64bit-Debug/poll-echo-server

src/poll-echo-ssl-server/build-poll-echo-ssl-server-Desktop_Qt_5_10_0_clang_64bit-Debug/.qmake.stash

src/poll-echo-ssl-server/build-poll-echo-ssl-server-Desktop_Qt_5_10_0_clang_64bit-Debug/main.o

src/poll-echo-ssl-server/build-poll-echo-ssl-server-Desktop_Qt_5_10_0_clang_64bit-Debug/Makefile

src/poll-echo-ssl-server/build-poll-echo-ssl-server-Desktop_Qt_5_10_0_clang_64bit-Debug/poll_server.o

src/poll-echo-ssl-server/build-poll-echo-ssl-server-Desktop_Qt_5_10_0_clang_64bit-Debug/poll-echo-ssl-server

src/poll-echo-ssl-server/poll-echo-ssl-server.pro.user

src/poll-echo-ssl-server/poll_server.cpp.autosave

src/poll-echo-ssl-server/poll-echo-ssl-server.pro.user

src/poll-echo-ssl-server/poll-echo-ssl-server.pro.user

*.user

*.stash

src/poll-echo-ssl-client/build-poll-echo-ssl-client-Desktop_Qt_5_10_0_clang_64bit-Debug/certificate.pem

src/poll-echo-ssl-client/build-poll-echo-ssl-client-Desktop_Qt_5_10_0_clang_64bit-Debug/key.pem

src/poll-echo-ssl-client/build-poll-echo-ssl-client-Desktop_Qt_5_10_0_clang_64bit-Debug/poll-echo-ssl-client
